$txtcolor: #2c2f3c;
$txtdecor: #14a0c7;
$btncolor: #699900;
$secheader: #2c2f3c;
$bgcolor: #ffffff;
$cardbgcolor: #21232e;
$cardtxtcolor: #c0c3ce;
$bgimg: url(../img/m-h-day.jpg);
$fonttxt: 'Hind', sans-serif;
$footerfz: 1.4rem;
$copyfz: 1.6rem;