$txtcolor: #ffffff;
$txtdecor: #ff4e33;
$btncolor: #e3ac00;
$secheader: #ffffff;
$bgcolor: #21232e;
$cardbgcolor: #3b3f50;
$cardtxtcolor: #d1d1d1;
$bgimg: url(../img/m-h-night.jpg);
$fonttxt: 'Fresca', sans-serif;
$footerfz: 1.2rem;
$copyfz: 1.4rem;